  <!--Horizontal section 3 -->
                <nav class="navbar navbar-default" role="navigation">
                              <div class="container">      
                                                <!-- Brand and toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                                      <span class="sr-only">Toggle navigation</span>
                                                      <span class="icon-bar"></span>
                                                      <span class="icon-bar"></span>
                                                      <span class="icon-bar"></span>
                                                    </button>
                                                    <a class="navbar-brand" href="#"><!--<img class="img-responsive" src="images/logo.png" id="logo-image"></img>--></a>

                                                </div>
                                 

                                                <div class="row">
                                                    <div class="col-lg-3 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-xs-3">
                                                        <img class="img-responsive" src="images/logo.png" id="logo-image">
                                                    </div>
                                                      <div class="col-lg-12 col-md-13 col-md-offset-0 col-sm-12 col-sm-offset-2 no-gutter">
                                                       <!-- Collect the nav links, forms, and other content for toggling -->
                                                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                                           
                                                                <ul class="nav navbar-nav">
                                                            
                                                                        <li class="dropdown">

                                                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">TODAYS HOT TOPICS<span class="caret"></span></a>
                                                                                    <ul class="dropdown-menu" role="menu">
                                                                                      <li><a href="#">International</a></li>
                                                                                      <li><a href="#">Country</a></li>
                                                                                      <li><a href="#">Major City or Towns</a></li>
                                                                                    </ul>

                                                                          </li>
                                                              
                                                                        <li class="dropdown">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SUBMIT YOUR ISSUE<span class="caret"></span></a>
                                                                            <ul class="dropdown-menu" role="menu">
                                                                              <li><a href="#">Action</a></li>
                                                                              <li><a href="#">Another action</a></li>
                                                                              <li><a href="#">Something else here</a></li>
                                                                              <li class="divider"></li>
                                                                              <li><a href="#">Separated link</a></li>
                                                                              <li class="divider"></li>
                                                                              <li><a href="#">One more separated link</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        
                                                                        <li class="dropdown">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">HAVE YOUR SAY<span class="caret"></span></a>
                                                                            <ul class="dropdown-menu" role="menu">
                                                                              <li><a href="#">Action</a></li>
                                                                              <li><a href="#">Another action</a></li>
                                                                              <li><a href="#">Something else here</a></li>
                                                                              <li class="divider"></li>
                                                                              <li><a href="#">Separated link</a></li>
                                                                              <li class="divider"></li>
                                                                              <li><a href="#">One more separated link</a></li>
                                                                            </ul>
                                                                         </li>
                                                                         
                                                                        <li class="dropdown">
                                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">VOTE AND FIX ISSUE <span class="caret"></span></a>
                                                                            <ul class="dropdown-menu" role="menu">
                                                                              <li><a href="#">Action</a></li>
                                                                              <li><a href="#">Another action</a></li>
                                                                              <li><a href="#">Something else here</a></li>
                                                                              <li class="divider"></li>
                                                                              <li><a href="#">Separated link</a></li>
                                                                              <li class="divider"></li>
                                                                              <li><a href="#">One more separated link</a></li>
                                                                            </ul>
                                                                        </li>

                                                                        <li>
                                                                    
                                                                           
                                                                                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 no-gutter">
                                                                                        <a href="#"><img class="img-responsive social-menu" src="images/social/fb-header.png"></a>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 no-gutter">
                                                                                        <a href="#"><img class="img-responsive social-menu" src="images/social/twitter-header.png"></a>
                                                                                    </div>  
                                                                                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 no-gutter">
                                                                                        <a href="#"><img class="img-responsive social-menu" src="images/social/gplus-header.png"></a>
                                                                                    </div>  
                                                                                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 no-gutter">
                                                                                        <a href="#"><img class="img-responsive social-menu" src="images/social/share-header.png"></a>
                                                                                    </div>       
                                                                           
                                                                  </li>

                                                                </ul>
                                                           
                                                       </div><!-- /.navbar-collapse -->
                                                      </div>
                                                 </div>
                              </div>
                                    
           </nav>
                <!-- End Horizontal section 3 -->