<!-- Horizontal section 5 -->   
            
             <div class="custom-well voffset15">
                <br/>
                <div class="container">
                       <div class="row">
                            <div class="col-md-14 col-xs-15 col-sm-14 col-lg-16 col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-lg-offset-0">
                                <div class="row">

                                      <div class="col-md-5 col-xs-15 col-sm-5 col-lg-5 col-md-offset-1 col-xs-offset-0 col-sm-offset-1 col-lg-offset-1">
                                               <div class="table-responsive">
                                                          <table border="0" class="table-footer-custom">
                                    
                                     <tbody>
                                         <tr><td class="footer-tr-custom"><h4><strong><a href="javascript:void();" class="footer-link-custom">About AngryFor</a></strong></h4></td></tr>
                                         <tr class="footer-tr-custom">
                                             <td class="footer-tr-custom"><a href="#/aboutUs" class="footer-link-custom">About</a></td>
                                            
                                         </tr>
                                         <tr class="footer-tr-custom">
                                             <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Contact Us</a></td>

                                           
                                         </tr>
                                         <tr class="footer-tr-custom">
                                             <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Newsletter</a></td>
                                             
                                         </tr>
                                         <tr class="footer-tr-custom">
                                             <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Press</a></td>
                                            
                                         </tr>

                                         <tr>
                                             <td class="footer-tr-custom"><a href="#/term" class="footer-link-custom">User Conditions</a></td>
                                             
                                         </tr>
                                         <tr class="footer-tr-custom">
                                              <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Disclaimer</a></td>
                                         </tr>
                                         <tr class="footer-tr-custom">
                                              <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Privacy</a></td>
                                          </tr>
                                          <tr class="footer-tr-custom">
                                              <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Advertising Terms</a></td>
                                           </tr>
                                           <tr>
                                                <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Report a User</a></td>
                                           </tr>
                                           <tr class="footer-tr-custom">
                                               <td class="footer-tr-custom"><a href="#/help" class="footer-link-custom">Help</a></td>
                                            </tr>
                                     </tbody>
                                </table>
                                                </div> 
                                      </div>

                                      <div class="col-md-4 col-xs-15 col-sm-4 col-lg-4 col-md-offset-0 col-xs-offset-0 col-sm-offset-0 col-lg-offset-0">
                                             <div class="table-responsive">
                                                  <table border="0" class="table-footer-custom">
                                  
                                   <tbody>
                                        <!--<tr><td><h4><strong><a href="javascript:void();" class="footer-link-custom">Search Issues by Topic</a></strong></h4></td></tr>-->
                                        <tr><td class="footer-tr-custom"><h4><strong><a href="javascript:void();" class="footer-link-custom">Search by Cause</a></strong></h4></td></tr>
										
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Miscarriage of Justice</a></td>

                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Corrupt Politics</a></td>


                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Corrupt Business</a></td>

                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Fraud</a></td>

                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Extortion</a></td>
                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Bribery</a></td>

                                       </tr>
                                   </tbody>
                              </table>
                                             </div> 
                                      </div>

                                      <div class="col-md-6 col-xs-15 col-sm-6 col-lg-6 col-md-offset-0 col-xs-offset-0 col-sm-offset-0 col-lg-offset-0">
                                             <div class="table-responsive">
                                                  <table border="0" class="table-footer-custom">
                                 
                                   <tbody>
                                       <tr><td class="footer-tr-custom"><h4><strong><a href="javascript:void();" class="footer-link-custom">Search by Action</a></strong></h4></td></tr>
                                        
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Petition</a></td>
                                         </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Class action</a></td>
                                        </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Protest</a></td>
                                          
                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Boycott</a></td>
                                           <td></td>
                                       </tr>
										
										 <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Featured Causes</a></td>
                                           <td></td>
                                       </tr>
										
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Charity</a></td>
                                           <td></td>
                                       </tr>
                                       <tr class="footer-tr-custom">
                                         <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Campaign To Change The Law</a></td>
                                       </tr>
                                       <tr class="footer-tr-custom">
                                           <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Lobby a Political Party</a></td>
                                        </tr>
                                        <tr class="footer-tr-custom">
                                            <td class="footer-tr-custom"><a href="javascript:void();" class="footer-link-custom">Lobby a Politician</a></td>
                                        </tr>
                                   </tbody>
                              </table>
                                             </div> 
                                      </div>

                                  </div>
                                </div>
                              
                             </div>
                       </div>
             </div>   
            
           
               

                      <div class="footer-strip-custom">
                          <br/>
                          <div class="container">
                                 <div class="row">
                               <div class="col-lg-offset-6 col-lg-9 col-md-offset-11 col-md-4 col-sm-offset-11 col-sm-5 col-xs-offset-4 col-xs-12">
                                   Copyright @AngryFor.com 2014 | Developed by NuevoThoughts Technologies
                               </div>
                          </div>
                          </div>    
                       </div>
                  
        <!-- End Horizontal section 5 -->    