<!--Horizontal section 2 -->
                <div class="container">
                 
                                <div class="row">
                                      <div class="col-md-13 col-sm-13 col-lg-13 col-xs-13 col-xs-offset-2">
                                 
                                             <center class="heading-custom"><h1>HAVE YOUR SAY <br/> <small class="heading-custom"> AND HELP SHAPE A BETTER SOCIETY TODAY!</small></h1></center>
                                            
                                      </div> 
                                </div>
                               
                    
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-lg-2 col-xs-10 col-xs-offset-4 col-md-offset-10 col-sm-offset-10 col-lg-offset-10">
                             <button class="btn btn-danger btn-custom-danger">Start a Petition</button>
                         </div>
                      </div>
                    <br/>
                </div>
            <!-- End Horizontal section 2-->